<div class="container">
  <%= form_for(portfolio) do |f| %>

    <div class="form-field-wrapper">
      <div class = "name">
        <%= f.label :name %>
        <%= f.text_field :name, :class => 'input-sm form-full' %>
      </div>
    </div>

    <div class="form-field-wrapper">
      <div class = "description">
        <%= f.label :description %>
        <%= f.text_area :description, :class => 'input-sm form-full' %>
      </div>
    </div>      

    <div class="form-field-wrapper">
      <div class = "tags">
        <%= f.label :portfolio_tags %>
        <%= f.text_field :portfolio_tags, :class => 'input-sm form-full' %>
      </div>
    </div>  

    <div class="form-field-wrapper">
      <div class = "image_upload">
        <%= f.label :image_upload %>
        <%= f.file_field :image_upload, :class => 'input-sm form-full' %>
      </div>
    </div>

    <%= f.hidden_field :user_id, :value => current_user.id %>

    <div class= "actions">
      <%= f.submit "submit", :class => 'btn btn-md btn-black' %>
    </div>
  <% end %>
</div>