  <!-- Work Detail Section -->
        <section class="ptb ptb-sm-80">
            <div class="container-fluid">

                <!-- work Filter -->
                <div class="row">
                    <ul class="container-filter categories-filter">
                        <li><a class="categories active" data-filter="*">All</a></li>
                        <li><a class="categories" data-filter=".graphicdesign">Graphic Design</a></li>
                        <li><a class="categories" data-filter=".illustration">Illustration</a></li>
                        <li><a class="categories" data-filter=".art">Art</a></li>
                        <% if logged_in? %>
                            <%= link_to 'NEW', new_portfolio_path, class: "btn btn-sm btn-black" %>
                            
                        <% end %>
                    </ul>
                </div>
                <!-- End work Filter -->    
                <div class="row container-masonry nf-col-4">


                    <% @portfolio.each do |portfolio| %>
                        <div class="nf-item spacing <%= portfolio.tags %>">
                            <div class="item-box">
                                <%= link_to portfolio.image_upload.url(:large), class: 'cbox-gallary1', title: portfolio.description do %>
                                    <%= image_tag portfolio.image_upload.url(:medium), class: 'item-container', alt: '1' %>
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <h5 class="white"><%= portfolio.name %></h5>
                                            <!-- <p class="white"><%= portfolio.tags %></p> -->
                                            <% if logged_in? %>
                                                <%= link_to 'EDIT', edit_portfolio_path(portfolio), class: 'white' %>
                                                <%= link_to 'DELETE', portfolio, method: :delete, class: 'white' %>
                                            <% end %>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    <% end %>

                </div>

            </div>

        </section>
        <!-- End Work Detail Section -->