  <%= form_for(user) do |f| %>
    <% if user.errors.any? %>
      <div id = "error_explanation">
        <h2> <%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% user.errors.full_messages.each do |msg| %>
            <li><%= msg %> </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-field-wrapper">
      <div class = "name">
        <%= f.label :name %>
        <%= f.text_field :name, :class => 'input-sm form-full' %>
      </div>
    </div>

    <div class="form-field-wrapper">
      <div class = "email">
        <%= f.label :email %>
        <%= f.text_field :email, :id => 'signup-email', :class => 'input-sm form-full' %>
      </div>
    </div>

    <div class="form-field-wrapper">
      <div class = "linkedin">
        <%= f.label :linkedin %>
        <%= f.text_field :linkedin, :id => 'signup-linkedin', :class => 'input-sm form-full' %>
      </div>
    </div>

    <div class="form-field-wrapper">
      <div class = "github">
        <%= f.label :github %>
        <%= f.text_field :github, :id => 'signup-github', :class => 'input-sm form-full' %>
      </div>
    </div>

    <div class="form-field-wrapper">
      <div class = "accent_color">
        <%= f.label :accent_color %>
        <%= f.text_field :accent_color, :id => 'signup-accent_color', :class => 'input-sm form-full' %>
      </div>
    </div>

    <div class="form-field-wrapper">
      <div class = "bio">
        <%= f.label :bio %>
        <%= f.text_area :bio, :class => 'input-sm form-full' %>
      </div>
    </div>

    <div class="form-field-wrapper">
      <div class = "password">
        <%= f.label :password %>
        <%= f.password_field :password, :class => 'input-sm form-full' %>
      </div>
    </div>

    <div class="form-field-wrapper">
      <div class = "password_confirmation">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :class => 'input-sm form-full' %>
      </div>
    </div>

    <div class="form-field-wrapper">
      <div class = "image_upload">
        <%= f.label :image_upload %>
        <%= f.file_field :image_upload, :class => 'input-sm form-full' %>
      </div>
    </div>

    <div class= "actions">
      <%= f.submit "submit", :class => 'btn btn-md btn-black' %>
    </div>
<% end %>