<div class="container">
  <%= form_for(project) do |f| %>

    <div class="form-field-wrapper">
      <div class = "name">
        <%= f.label :name %>
        <%= f.text_field :name, :class => 'input-sm form-full' %>
      </div>
    </div>


    <div class="form-field-wrapper">
      <div class = "description">
        <%= f.label :description %>
        <%= f.text_field :description, :class => 'input-sm form-full' %>
      </div>
    </div> 

    <div class="form-field-wrapper">
      <div class = "bullets_array">
        <%= f.label :bullets %>
        <%= f.text_area :bullets, :class => 'input-sm form-full' %>
      </div>
    </div> 

    <div class="form-field-wrapper">
      <div class = "link">
        <%= f.label :link %>
        <%= f.text_field :link, :class => 'input-sm form-full' %>
      </div>
    </div>   

    <div class="form-field-wrapper">
      <div class = "image_upload">
        <%= f.label :image_upload %>
        <%= f.file_field :image_upload, :class => 'input-sm form-full' %>
      </div>
    </div>

    <%= f.hidden_field :user_id, :value => current_user.id %>

    <div class= "actions">
      <%= f.submit "submit", :class => 'btn btn-md btn-black' %>
    </div>

  <% end %>
</div>