
<!-- Shop Item Detail Section -->
        <section id="shop-item">
            <div class="container">
                <% if logged_in? %>
                  <%= link_to 'NEW PROJECT', new_project_path, class: 'btn btn-sm btn-black' %>
                <% end %>
                <br><br>
              <% @project.each do |project| %>
                <div class="row ">
                    <!-- Shop Item -->
                    <div class="col-md-6 mtb-sm-30">

                        <div class="shop-detail-item">
                            <!--Item Images-->
                            <div class="sp-wrap">
                              <%= image_tag project.image_upload.url(:large) %>
                            </div>
                            <!-- End Item Images -->
                        </div>
                    </div>

                    <!-- End Shop Item -->

                    <!-- Shop info -->
                    <div class="col-md-6">
                        <div class="shop-detail-info">

                            <% if logged_in? %>
                              <%= link_to 'EDIT', edit_project_path(project) %> 
                              <%= link_to 'DELETE', project, method: :delete %>
                            <% end %>

                            <h3><%= project.name %></h3>
                            <p class="ptb-10"><%= project.description %></p>
                            <hr class="mtb-25" />

                            <%= project.bullets %>
                            
                        </div>


                 

                      <%= link_to 'See Demo', project.link, class: 'btn btn-md btn-primary mtb-30', target: '_blank' %>
                    </div>
                    <!-- End Shop info -->
                </div>

                <hr class="mtb-30">
              <% end %>
            </div>

        </section>
        <!-- End Shop Item Section -->
