<!DOCTYPE html>
<html>
<head>
  <title>LisaSite</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body class="full-intro">
    <!-- Search menu Top -->
    <section class=" top-search-bar cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-top">
        <div class="container">
            <div class="search-wraper">
                <input type="text" class="input-sm form-full" placeholder="Search..." name="search" />
                <a class="search-bar-icon"><i class="fa fa-search"></i></a>
                <a class="bar-close toggle-menu menu-top push-body"><i class="ion ion-android-close"></i></a>
            </div>
        </div>
    </section>
    <!--End Search menu Top -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- HEADER -->

            <% if current_uri %>
                <%= render 'layouts/homeheader' %>
            <% else %>
                <%= render 'layouts/header' %>
            <% end %>

        <!-- END HEADER -->

        <% if current_uri %>
            <!-- CONTENT --------------------------------------------------------------------------------->
            <!-- Intro Section -->

            <!-- End Intro Section -->


            <section class="full-screen-intro">
                <!-- Bg Image -->
                <div class="media-wapper bg-img13 cont-h-100per"></div>
                <!-- End Bg Image -->

                <!-- Content -->
                <div class="full-cap-wraper light-color">
                    <div class="content-caption light-color parallax parallax-opacity">
                        <div class="container">

                            <h2 class="h2">Welcome</h2>
                            <div class="page-breadcrumb">
                                <!-- <a>Home</a>/<span>Blank Page</span> -->
                                <span>You made it!</span>
                            </div>

                            
                        </div>
                    </div>
                </div>
                <!-- End Content -->
            </section>


        <%else%>
            <!-- Blank Section -->
            <section class="ptb ptb-sm-80">
              <%= yield %>
            </section>
            <!-- End Blank Section -->

            <!-- Scroll Top -->
            <a class="scroll-top">
                <i class="fa fa-angle-double-up"></i>
            </a>
            <!-- End Scroll Top -->
        <% end %>

</div>
<!-- Site Wraper End -->




</body>
</html>
